<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}


.lobster {
    font-size: 16px;
    font-family: lobster;
  }
</style>
<body class="w3-light-grey">


  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-left w3-padding-48 ">
    <h1 class="w3-xxxlarge lobster"><b>Anagram Solver</b></h1>
    
  </header>

  

 
  <div class="w3-row w3-padding w3-border w3-center">

    
    <div class=" w3-center">
    
      <div class="w3-container w3-white w3-margin w3-padding-large w3-center">
        <h1 class="masthead" style="margin-top: 2em">Enter some Letters</h1>
    <form method="POST">
        <div class="center">
            <p>
                <label>
                    Letters:
                    <input type="text" size="30" name="letters" placeholder="Enter your letters:">
                    <input type="submit" value="Find">
                </label>
            </p>
        </div>
    </form>

        
      

     
 

<!-- END w3-content -->
</div>







</body>
</html>
